
<form action="/deleteLog" method="POST">
  <div class="card">
  <ul class="list-group list-group-flush">
  <input hidden name="foodId" value="<%= item.foodid %>">
  <input hidden name="uri" value="<%= item.uri %>">
  <li class="list-group-item">Calories: <%= item.calories %>
  </li>
  <li  class="list-group-item"><input type="number" name="quantity" value="<%= item.servings %>">
    <%= item.serving_unit %>
  </li>
  <li class="list-group-item">Protein: <%= item.protein %>
  </li>
  <li class="list-group-item">Fat: <%= item.fat %>
  </li>
  <li class="list-group-item">Carbs: <%= item.carb %>
  </li>

  <input hidden name="logId" value="<%=item.id %>">
  <input class="btn btn-danger my-2 my-sm-0" type="submit" formaction="deleteLog" value="Delete">
  <input class="btn btn-success" type="submit" formAction="editLog" value="Edit Servings">
  </ul>
  </div>
</form>