<form action="/deleteLog" method="POST" class="history-item ">
  <h4>
    <%= item.food_name %>
  </h4>
  <input hidden name="foodId" value="<%= item.logId %>">
  <input hidden name="uri" value="<%= item.uri %>">
  <input hidden name="day" value="<%= myDay %>">
  <input hidden name="month" value="<%= month %>">
  <input hidden name="year" value="<%= year %>">

  <div>Calories: <span class="right"><%= item.calories %></span>
  </div>
  <div class="serving-num">
    <span class=""><%= item.serving_unit %></span>
    <input class="" type="number" name="quantity" value="<%= item.servings %>">
    <!-- <span class="right"><%= item.serving_unit %></span> -->
  </div>
  <div>Protein: <span class="right"><%= item.protein %></span>
  </div>
  <div>Fat: <span class="right"><%= item.fat %></span>
  </div>
  <div>Carbs: <span class="right"><%= item.carb %></span>
  </div>

  <input hidden name="logId" value="<%=item.id %>">
  <input class="btn-danger" type="submit" formaction="deleteLog" value="Delete">
  <input class="btn-edit" type="submit" formAction="editLog" value="Edit Servings">
</form>