<% include partials/head %>

  <% include partials/nav %>

    <body>
      <h1>This is the history</h1>

      <%= user.name %>

        <img src="<%= user.picture %>" alt="">

        <h1>
          <%
            let myDay = dayObj.getDate()
            let month = dayObj.getMonth()
            let year = dayObj.getYear()
            %>
          <% let today = new Date() %>

          <% if(today.getDate() == myDay && today.getMonth() == month && today.getYear() == year) { %>
            Today -
            <% } %>
            <%= dayObj.toLocaleString("default", {month: 'long'
                    }) %>/<%= dayObj.getDate() %>/<%= dayObj.getFullYear()
                     %>
          </h1>

        <form action="/selectDay" method="POST">
          <input type="date" class="form-control" name="date" value="<%= inputDate %>">

          <button type="submit" class="btn btn-primary">Select Day</button>
          <button type="submit" class="btn btn-secondary" formaction="backDay">Back Day</button>
          <button type="submit" class="btn btn-secondary" formaction="forwardDay">Forward Day</button>
        </form>

        <% if(locals.result && result.length> 0) { %>
          <h1>
            <% let today=new Date(); let day=result[0].date_eaten.getDate(); let month=result[0].date_eaten.getMonth();
              let year=result[0].date_eaten.getFullYear(); if(day==today.getDate() && month==today.getMonth() &&
              year==today.getFullYear()){ %>
              Today
              <% } else { %>
                <%= result[0].date_eaten.getDay() %> - <%= result[0].date_eaten.toLocaleString("default", {month: 'long'
                    }) %>/<%= result[0].date_eaten.getDate() %>/<%= result[0].date_eaten.getFullYear() %>
                        <% } %>
          </h1>



          <h4>Breakfast</h4>
          <% result.forEach((item)=> { %>
            <% if (item.meal=='breakfast' ) { %>
              <% include partials/logItem %>
              <% } %>
                <% }); %>

                  <h4>Lunch</h4>
                  <% result.forEach((item)=> { %>
                    <% if (item.meal=='lunch' ) { %>
                      <% include partials/logItem %>
                      <% } %>
                        <% }); %>

                          <h4>Dinner</h4>
                          <% result.forEach((item)=> { %>
                            <% if (item.meal=='dinner' ) { %>
                              <% include partials/logItem %>
                              <% } %>
                                <% }); %>

                                  <h4>Snack</h4>
                                  <% result.forEach((item)=> { %>
                                    <% if (item.meal=='snack' ) { %>
                                      <% include partials/logItem %>>
                                      <% } %>
                                        <% }); } else { %>
                                          <h2>Nothing logged for this day</h2>
                                          <% } %>

                                            <script
                                              src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                                            <script src="/javascripts/main.js"></script>

                                            </html>