<% include partials/head %>

  <% include partials/nav %>

    <body>
      <div class="container">
        <div class="page-header">
        <h1>Food Log </h1>
        <h4>

          <% let myDay=dayObj.getDate() %>
          <% let month=dayObj.getMonth() %>
          <% let year=dayObj.getFullYear() %>
          <% let dateString=year + '-' + month + '-' + myDay %>
          <% let today=new Date() %>


          <% if(today.getDate()==myDay && today.getMonth()==month && today.getYear()==year) { %>
            Today -
            <% } %>
            <%= dayObj.toLocaleString("default", {month: 'long' }) %>/<%= dayObj.getDate() %>/<%=
                              dayObj.getFullYear() %>
        </h4>
      </div>

        <div class="card history-date">
          <form action="/selectDay" method="POST">
            <div class="select-day">
              <input type="date" class="form-control" name="date" value="<%= inputDate %>">
              <button type="submit" class="btn btn-primary">Select Day</button>
            </div>
            <div class="gutter"></div>
            <div class="select-day">
              <button type="submit" formaction="backDay">Back Day</button>
              <button type="submit" formaction="forwardDay">Forward Day</button>
            </div>
          </form>
        </div>
        <% if(breakfastTotal == 0 && lunchTotal == 0 && dinnerTotal == 0 && snackTotal == 0) { %>

          <div class="page-header">
          <h2>Nothing logged for this day</h2>
        </div>
          <% } %>
          <div class="gutter"></div>
          <div class="card meal">
            <h2>Breakfast - <%= breakfastTotal %> Calories
            </h2>
              <% if (locals.breakfastArr) { %>
                <% breakfastArr.forEach(item=> { %>
                    <% include partials/logItem %>
                      <% }); %>
                        <% } %>
          </div>
          <div class="gutter"></div>
          <div class="card meal">
            <h2>Lunch - <%= lunchTotal %> Calories
            </h2>
              <% if (locals.lunchArr) { %>
                <% lunchArr.forEach(item=> { %>
                    <% include partials/logItem %>
                      <% }); %>
                        <% } %>
          </div>
          <div class="gutter"></div>
          <div class="card meal">
            <h2>Dinner - <%= dinnerTotal %> Calories
            </h2>
              <% if (locals.dinnerArr) { %>
                <% dinnerArr.forEach(item=> { %>
                    <% include partials/logItem %>
                      <% }); %>
                        <% } %>
          </div>
          <div class="gutter"></div>
          <div class="card meal">
            <h2>Snack - <%= snackTotal %> Calories
            </h2>
              <% if (locals.snackArr) { %>
                <% snackArr.forEach(item=> { %>
                    <% include partials/logItem %>

                        <% }); }  %>

          </div>
          <div class="gutter"></div>
      </div>
      <%- include partials/end-body-scripts.ejs %>
    </body>


    </html>