<% include partials/head %>
<% include partials/nav %>


  <body>
    <div class="container">
      <h1>Search Results</h1>


            <% if(locals.search_results) { %>
              <% if(search_results.length == 0 ) { %>
                <h4>Your search gave no results</h4>
                <% } %>
                <div class="search-results">
              <% search_results.hints.forEach(function(item) { %>
                <form class="card"  action="/getNutrients" method="post">

                    <h2>
                      <%= item.food.label %>
                    </h2>
                    <input hidden name="food_name" value="<%= item.food.label %>">

                    <small class="form-text">
                      <%= Math.round(item.food.nutrients.ENERC_KCAL) %> calories per serving
                    </small>

                    <input class="form-control servingInput" placeholder="how much did you eat"  name="servingInput" required>
                    <select class="form-control" name="serving" class="servingOptions">

                      <% item.measures.forEach(function(servingUnit) { %>
                        <% let myArr = [ servingUnit.uri, servingUnit.label] %>
                        <option value="<%= myArr %>">
                          <%= servingUnit.label %>
                        </option>
                        <%})%>
                          <input hidden class="form-control" name="foodId" value="<%=item.food.foodId %>">
                    </select>

                    <select class="form-control" name="meal">
                      <option value="breakfast">Breakfast</option>
                      <option value="lunch">Lunch</option>
                      <option value="dinner">Dinner</option>
                      <option value="snack">Snack</option>
                    </select>


                    <input name="date_eaten" class="form-control dateFill" type="date" id="datePicker">



                    <!-- <input class="btn btn-primary" id="getNutrition" value="Get Nutrition">
                    <input class="btn btn-primary" id="addTracker" value="Add to tracker"> -->
                    <input class="btn btn-primary" id="getNutrition" type="submit" value="Get Nutrition">
                    <input class="btn btn-primary" id="addTracker" type="submit" formAction="directAdd" value="Add to tracker">

                    <!-- <button class="btn btn-secondary" id="getCalories" type="button">Get Calories</button> -->

                   <% if(locals.nutrition_results) { %>
                    <div>Total Calories:
                      <div id="totalCalories"> <%= nutrition_results.calories %> </div>
                    </div>

                  <% } %>


                </form>
                <% }) %>
                  <% } %>
                </div>
                </div>

                    <%- include partials/end-body-scripts.ejs %>

                    <script>
                      function addFood() { $.post('/addFood'); }

                    </script>
  </body>
                    </html>